<div class="messages_disappear" id="messages">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>

<script type="text/javascript">
    function disappearing () {
        let messages = document.getElementById('messages');
        {#let wrapper = document.getElementById('wrapper')#}

        setTimeout(function () {
            {#wrapper.removeChild(messages);#}
            messages.style.display = 'none';
        }, 5000);
    }

    window.onload = function() {
        disappearing();
    }
</script>